*
{
    margin: 0px;padding: 0px;
}
.container
{
    width: 550px;
    height: 680px;
    overflow-y: scroll;
    padding: 15px;
    background-color: #fff;
    color: black;
    border: 2px solid rgb(3, 95, 126);
    border-radius: 8px;
}

::-webkit-scrollbar 
{
    display: none;
}
.table-heading
{
    color: black;
}
.delete
{
    background-color: rgb(245, 41, 41);
    outline: none;
    border: none;
    padding: 5px;
    color: white;
    border-radius:none ;
    border-radius: 3px;
}
